version: '3.8'

services:
  node_backend:
    container_name: node_tabnine
    image: hoangkhoanguyen/nodejstest:latest
    restart: always
    build:
      context: .
    ports:
      - '3001:3001'
    environment:
      - EXTERNAL_PORT=3001
