on:
  push:
    branches:
      - 'main'
name: build, publish images
jobs:
  build:
    name: build and publish images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: login to docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v2

      - name: build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/nodejstest:latest
          file: ./Dockerfile

      - name: ssh to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          password: ${{ secrets.HOST_PASSWORD }}
          port: ${{ secrets.HOST_PORT }}
          script: |
            whoami
            whoami

      # - uses: actions/checkout@v3
      # - name: run docker-compose
      #   uses: sudo-bot/action-docker-compose@latest
      #   with:
      #     cli-args: 'up'
